:root {
  --lesson-pane-width: 20%;
  --button-row-height: 5%;
  --toggle-run-button-width: 80%;
  --switcherHeadingWidth: 80%;
}

body {
  font-family: sans-serif;
  width: 100%;
  height: 100vh;
  margin: 0px;
}

/*
  CSS for editor.html
*/

.hidden {
  display: none;
}

/* Main view */
button {
  border: none;
  color: white;
}

button:hover {
  filter: brightness(80%);
}

button:active {
  filter: brightness(70%);
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin: 0px;
  overflow: hidden;
}

#lessonPane {
  width: var(--lesson-pane-width);
  height: 100%;
}

.lessonPaneHeading {
  display: flex;
  justify-content: left;
  align-items: center;
  height: var(--button-row-height);
  margin: 0px;
  margin-left: 5px;
}

#lessons {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
  border-bottom: 1px solid grey;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 15px;
}

li:hover,li.selected {
  background-color: lightgray;
}

li:active {
  background-color: grey;
}

.lesson.unsaved {
  font-weight: bold;
}

.lesson.unsaved::after {
  content: " (Unsaved)";
  font-style: oblique;
}

.editorColumn {
  display: flex;
  flex-direction: column;
  width: calc(100% - var(--lesson-pane-width));
  height: 100%;
}

#editor {
  height: 100%;
  width: 100%;
}

.buttonRow {
  display: flex;
  flex-direction: row;
  height: var(--button-row-height);
  width: 100%;
}

#switchRobotButton {
  width: calc(100% - var(--toggle-run-button-width));
  height: 100%;
  background-color: blue;
}

#toggleRunButton {
  width: var(--toggle-run-button-width);
  height: 100%;
}

#toggleRunButton.start {
  background-color: green;
}

#toggleRunButton.stop {
  background-color: red;
}

#toggleRunButton.waiting {
  background-color: lightgray;
}

/* Switcher popup */
#switcherPopup {
  position: fixed;
  z-index: 100;
  background-color: white;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

.switcherHeadingContainer {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid grey;
}

.switcherHeading {
  width: var(--switcherHeadingWidth);
}

#closeSwitcherButton {
  background-color: blue;
  width: calc(100% - var(--switcherHeadingWidth))
}

#deployTargets {
  width: 100%;
}
